.wrapper{
  width: 1500px;
  max-width: 1200px; /* ограничивает ширину на больших экранах */
  margin: 0 auto; /* центрирует */
  padding: 0 16px; /* внутренние отступы */
  box-sizing: border-box;
  min-width: 300px
  
}
.container {
 background-color: black;
 width: 100%;
}
.project1{
    display: flex;
    gap: 30px;
    background-color: black;
}
.projects{
    background-color: black
}
.project2{
    display: flex;
    gap: 30px;

}
.project3{
    display: flex;
    gap: 30px; 

}
.text{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn1{
    padding: 10px 10px;
    border-radius: 8px;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: black;
}
.main{
    font-size: 34px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin-left: 500px;
}