*{
    background-color: black;
}
.head1{
    display: flex;
    color: white;
    width: 1216px;
    margin-left: -100px;
    gap: 124px;
}
.text1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.p1{
    color: #FFFFFF99;
}
.btn1{
    background-color: white;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 159px;
    height: 56px;
    border-radius: 8px;
    padding: 16px 20px 16px 20px;
}
.container {
  width: 960px; 
  min-width: 300px;
  max-width: 1216px; 
  margin: 0 auto;
  padding: 20px;
  
}
.main-text{
    color: white;
    margin-left: 350px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.head2{
    display: flex;
    color: white;
    width: 1216px;
    margin-left: -53px;
    gap: 124px;
}
.text2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.head3{
    display: flex;
    color: white;
    width: 1216px;
    margin-left: -100px;
    gap: 124px;
}
.text3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
